<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorExamples</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdataapi">
                <span class="oi oi-collapse-down" aria-hidden="true"></span> Fetch data with API
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="auth-required">
                <span class="oi oi-account-login" aria-hidden="true"></span> Authorization needed
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="partitial-auth">
                <span class="oi oi-account-login" aria-hidden="true"></span> Partitial Authorization
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="upload">
                <span class="oi oi-file" aria-hidden="true"></span> File Upload
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="basic-forms">
                <span class="oi oi-caret-left" aria-hidden="true"></span> Basic Forms
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="table">
                <span class="oi oi-document" aria-hidden="true"></span>QuickGrid Table
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="virtualize">
                <span class="oi oi-fullscreen-exit" aria-hidden="true"></span>Virtualize
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="javascript-site">
                <span class="oi oi-ellipses" aria-hidden="true"></span>Call JavaScript
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="slide">
                <span class="oi oi-cloudy" aria-hidden="true"></span>Slider
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
