@page "/javascript-site"
@inject IJSRuntime JS

<h3>Call Javascript</h3>

<button class="btn btn-primary btn-lg" @onclick="JavaScriptButton">Call JavaScript</button>
<button class="btn btn-primary btn-lg" @onclick="JavaScriptButtonWithArgs">Call JavaScript with Args "Cats" and "Dogs"</button>

@code {

    private async void JavaScriptButton()
    {
        await JS.InvokeVoidAsync("exampleFunction");
    }

    private async void JavaScriptButtonWithArgs()
    {
        await JS.InvokeVoidAsync("exampleFunctionWithParameters", "Cats", "Dogs");
    }
}
